{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/member-ordering": "error",
    "eol-last": "error",
    "object-curly-spacing": ["error", "always"],
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "always"],
    "indent": ["error", 2],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "prefer-const": ["error", {
      "destructuring": "all",
      "ignoreReadBeforeAssign": true
    }],
    "comma-dangle": ["error", "never"],
    "no-trailing-spaces": ["error"],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "object-shorthand": ["error", "always"],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }]
  }
}